<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>894730411819-nakrjf6rmj6c2ts8ud065l07bl142nju.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.894730411819-nakrjf6rmj6c2ts8ud065l07bl142nju</string>
	<key>API_KEY</key>
	<string>AIzaSyABGvuGmmkr-yasvjl7HLFhPu33ZlBHaW0</string>
	<key>GCM_SENDER_ID</key>
	<string>894730411819</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>eungcheol.idorm</string>
	<key>PROJECT_ID</key>
	<string>idorm-ac568</string>
	<key>STORAGE_BUCKET</key>
	<string>idorm-ac568.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:894730411819:ios:cd7525d7b2ec5e5d4f2f6e</string>
</dict>
</plist>
